---
import Section from "./src/components/Section.astro";
import { education } from "@cv";
import Education from "./src/icons/education.astro";

---

<Section title="Education">
  <ul>
    {
      education.map(
        ({ institution, startDate, endDate, area,studyType, courses, highlights }) => {
          const startYear = new Date(startDate).getFullYear();
          const endYear =
            endDate != null ? new Date(endDate).getFullYear() : "Current Job";
          const years = `${startYear} - ${endYear}`;
          return (
            <li>
              <article>
                <header>
      
                    <span class="edulogo"><Education /></span>
                    <subheader>
                    <h3>{studyType} in {area}</h3>
                    <h4>{institution}</h4>
                    <time>{years}</time>
                    </subheader>
                  
                </header>
                <footer>
                  <ul class="courses">
                    {courses.map((course) => {
                    return (
                      <li>
                      <span>• {course}</span>
                      </li>
                    );
  })}
          

              </article>
            </li>
          );
        }
      )
    }
  </ul>
</Section>
<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.2rem;
  }
  article h3 {
    font-weight: 500;
    color: #888;
    margin-bottom: 8px;
    font-size: 0.9rem;
    letter-spacing: 0.09rem;
    text-wrap: balance;
  }
  article h4 {
    font-weight: 400;
    letter-spacing: 0.09rem;
    font-size: 0.75rem;
    margin-bottom: 10px;
  }
  header {
    display: flex;
    flex-direction: grid-row: inherit;;
    margin-bottom: 20px;
    color: #666;
  }  
  time {
    position: relative;
    top: 0;
    
    font-size: 0.85rem;
  }
  .highlights {
    padding-top: 1rem;
    padding-left: 3rem;
    gap: 32px;
    font-size: 1rem;
    color: #666;
  }
  footer span {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    font-size: 0.8rem;
  }
  .courses span {
  display: flex;
  align-items: flex-start
  gap: 5px;
  font-size: 0.78rem;
  color: #666;
}
</style>
