---
import { HighlightSpanKind } from "typescript";
import Section from "./src/components/Section.astro";
import { projects } from "@cv";
---

<Section title="Projects">
  <ul>
    {
      projects.map(({ url, description, highlights, name, isActive }) => {
        return (
          <li>
            <article>
              <header>
                <a href={url} title={`Take a look to the project ${name}`}>
                  <h3>{name}</h3>
                </a>
                <p>{description}</p>
              </header>
              <footer>
                <ul>
                  {highlights.map((highlight) => {
                    return <li>{highlight}</li>;
                  })}
                </ul>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>
